---
import { siteConfig } from "../siteConfig.ts";
---

<footer>
  <p class="text-xs text-textFooter">
    © {new Date().getFullYear()}
    {siteConfig.bio.name}. All rights reserved.
  </p>
</footer>
