---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import { siteConfig } from "../siteConfig.ts";
import { SEO } from "astro-seo";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href={siteConfig.bio.image.src} />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={siteConfig.bio.name}
      description={siteConfig.bio.title}
      openGraph={{
        basic: {
          title: siteConfig.bio.name,
          type: "website",
          image: siteConfig.bio.image.src,
        },
      }}
    />
  </head>
  <body
    class="flex flex-col min-h-screen max-w-2xl mx-auto px-4 my-8 md:px-0 md:my-16 w-full flex-grow"
  >
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
